@import "tailwindcss";

:root {
  --font-inter: 'Inter', system-ui, sans-serif;
  --font-twinkle: 'Twinkle Star', cursive;
  --color-primary: #a6e8e4;
  --color-primary-dark: #8dd4cf;
  --color-primary-light: #c5f2ef;
}

body {
  font-family: var(--font-inter);
}

.font-title {
  font-family: var(--font-twinkle);
}
